<script setup lang="ts">
const router = useRouter()
const { t } = useI18n()
</script>

<template>
  <div>

    <iframe
  width="100%"
  height="800px"
  src="http://localhost:3000/d/BwcXP3cnz/example-dashboard?orgId=1"
  frameBorder="0"
></iframe>

    <div>
      <button
        btn m="3 t6" text-sm
        @click="router.back()"
      >
        {{ t('button.back') }}
      </button>
    </div>

  </div>
</template>
<route lang="yaml">
meta:
  layout: home
</route>
