<script setup lang="ts">
import login from "./components/login.vue";
import logout from "./components/logout.vue";
import profile from "./components/profile.vue";
import grafana from "./components/grafana.vue";
</script>
<template>
  <header>
    <img
      alt="Counting Cardano Carbon  logo"
      class="logo"
      src="./assets/ccc_logo.svg"
    />
  </header>
  <main>
    <login />
    <logout />
    <profile />
    <grafana />
  </main>
</template>

<style>
body {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
