<template>
  <div>
    <iframe
      width="100%"
      height="800px"
      src="http://localhost:3000/d/BwcXP3cnz/example-dashboard?orgId=1"
      frameBorder="0"
    ></iframe>
  </div>
</template>
