<script lang="ts">
import { useAuth0 } from "@auth0/auth0-vue";

export default {
  setup() {
    const { user } = useAuth0();
    return {
      user,
    };
  },
};
</script>

<template>
  <div>
    <h2>User Profile</h2>
    <pre>
        <code>{{ user }}</code>
      </pre>
  </div>
</template>
